/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* Global reset */
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}
.messages-container{
  /* position: absolute; 
  top: 10px; 
  right: 50%; 
  transform: translate(50%); */
  color: red;
}
.messages-container > h5 {
  color: inherit;
}
.img-container {
  height: 200px;
  justify-content: center;
  display: none;
}
.img-container > img {
  height: 100%;
}
.comment-container {
  padding-right: 2rem;
}